* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #717171;
    line-height: 24px;
}

h1 {
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
    color: #4d4d4d;
    margin-bottom: 8px;
    letter-spacing: 2px;

    span {
        color: #4caf4f
    }
}

h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4d4d4d;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

button {
    background: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 1152px;
    margin: 0 auto;
}

.button_light-sm {
    font-family: "Inter", serif;
    background-color: #F5F7FA;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#4caf4f
}

.button_primary-sm {
    font-family: "Inter", serif;
    color: white;
    background-color: #4caf4f;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.button_primary-xl {
    font-family: "Inter", serif;
    color: white;
    background-color: #4caf4f;
    padding: 14px 32px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}