.manage {
    padding: 50px 0;
}

.manage h2 {
    text-align: center;
}

.manage__subtitle {
    text-align: center;
    margin-bottom: 32px;
}

.manage__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.manage__card {
    border-radius: 8px;
    box-shadow: 0 0 35px rgba(171, 190, 209, 0.2);
    padding: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;

    h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }
}

.manage__card-icon {
    background: #e8f5e9;
    border-radius: 10px 5px 18px 5px;
    position: relative;
    width: 50px;
    height: 50px;
    img{
        position: absolute;
        right: 11px;
        bottom: 5px;
    }
}