.desktop-nav {
    padding: 22px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav__list {
    display: flex;
    gap: 50px;
}

.desktop-nav__buttons {
    display: flex;
}

.desktop-nav__buttons {
    display: flex;
    gap: 14px;
}

.desktop-nav_list-el_active {
    font-weight: 500;
}