.unlock {
    padding: 50px 0;
}

.unlock__content {
    display: flex;
    align-items: center;
    gap: 37px;
}

.unlock__group {
    max-width: 607px;
    h2 {
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 20px;

    }
}